* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #f4f6fb;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

.image-section img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #1243A6;
}

.form-section {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}

.form-section form select,
.form-section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Nunito', sans-serif;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-section form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-section button {
    width: 100%;
    padding: 10px;
    background: #1243A6;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-section p {
    margin-top: 10px;
    text-align: center;
}

.form-section a {
    color: #2447f9;
    text-decoration: none;
}

.pet-section {
    border: 1px dashed #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.checkbox{
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-bottom: 15px;
}

#addPet {
  margin-bottom: 10px; /* Espaçamento entre os botões */
  width: 100%;
  padding: 10px;
  background: #1243A6;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-login button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.google {
    background: #fff;
    border: 1px solid #ccc;
}

.facebook {
    background: #fff;
    border: 1px solid #ccc;
}